{erl_opts, [debug_info]}.
{project_plugins, [
                   {rebar3_lint, "2.0.0"},
                   {rebar3_hex, "7.0.2"}
                  ]}.
{deps, [
        {meck, "0.9.2"}
       ]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [eflambe]}
]}.

% Enable code coverage reports and print them to the terminal
{cover_enabled, true}.
{cover_opts, [verbose]}.

% xref settings - check everything except unused exports
{xref_checks, [undefined_function_calls, locals_not_used, deprecated_function_calls, deprecated_functions]}.
